#hero {
    color: var(--text-color-white);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px;      
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.hero-content a {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#about {
  color: var(--text-color-white);
  text-align: left;
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* <- zet ruimte tussen logo en tekst */
  align-items: center;
  border-radius: 0;
  box-sizing: border-box;
  padding: 24px;
  gap: 2rem; /* houd dit redelijk klein */
}

.about-logo {
  width: 33%; /* logo neemt 1/3 van de breedte */
  max-width: 450px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  object-fit: contain;
}

.about-text {
  width: 40%; /* tekst neemt ongeveer 2/3 */
}


@media (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about-logo {
        width: 80vw;
        height: auto;
    }
}

#waarom {
    color: var(--text-color-white);
    padding: 24px;
    text-align: center;
    min-height: 60vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    box-sizing: border-box;
}

#waarom h1 {
    margin-bottom: 24px;
}

.waarom-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .waarom-list {
        flex-direction: column;
    }
}

.waarom-item {
    background: var(--logo-color);
    color: var(--text-color-white);
    padding: 24px;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    min-width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

@media (max-width: 768px) {
    .waarom-item {
        min-width: 80vw;
        max-width: 90vw;
    }
    
}

.waarom-item:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.waarom-img {
    width: 40vw;
    height: auto;
    margin-bottom: 16px;
    border-radius: 12px;
}

.waarom-text {
    text-align: left;
    max-width: 30vw;
    margin-left: 24px;
}

#services {
    color: var(--text-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {    
    color: var(--text-color-white);
    padding: 24px;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    box-sizing: border-box;
}

.contactlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}