#services {
    color: var(--text-color-white);
    padding: 24px;
    text-align: center;
    min-height: 60vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    box-sizing: border-box;
}

.services-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .services-list {
        flex-direction: column;
    }
}

.service-item {
    background: var(--logo-color);
    color: var(--text-color-white);
    padding: 24px;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    min-width: 25vw;
    max-width: 27vw;
    height: 580px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

@media (max-width: 768px) {
    .service-item {
        min-width: 80vw;
        max-width: 90vw;
    }
    
}

.service-item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}