:root {
    --second-color: #00436a;
    --third-color: #205295;
    --text-color-black: #000000;
    --text-color-white: #FFFFFF;
    --link-color: #2C74B3;
    --hover-color: #3472ce;
    --logo-color: #00436a;
}

/* fade in effect */
.fadein-stagger .fadein-childfast {
    opacity: 0;
    transform: translateY(16px);
    animation: fadein-stagger 0.9s ease forwards;
}

.fadein-stagger .fadein-childslow {
    opacity: 0;
    transform: translateY(24px);
    animation: fadein-stagger 1.5s ease forwards;
}

@keyframes fadein-stagger {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background: -webkit-linear-gradient(45deg,rgba(0, 53, 84, 1) 16%, rgba(0, 122, 153, 1) 84%);
    background: -moz-linear-gradient(45deg,rgba(0, 53, 84, 1) 16%, rgba(0, 122, 153, 1) 84%);
    background: linear-gradient(45deg,rgba(0, 53, 84, 1) 16%, rgba(0, 122, 153, 1) 84%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: var(--text-color-white);
}

h1 {
    margin-bottom: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.pill-button {
    background-color: var(--link-color);
    color: var(--text-color-white);
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1); /* standaardgrootte */
}

.pill-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1); /* iets groter bij hover */
}

.pill-button:active {
    transform: scale(0.95); /* iets kleiner bij klikken */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: rgba(0, 67, 106, 0.6);
    color: var(--text-color-white);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
    width: 95vw;
    max-width: 95vw;
    min-width: 300px;
    box-sizing: border-box;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    background: var(--link-color);
    border-radius: 999px;
    transition: background 0.2s, color 0.2s;
    display: inline-block;
}

header a:hover {
    background: var(--hover-color);
    color: var(--text-color-white);
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 0;
}

.logo-container p {
    color: lightgray;
}

.headerlinks {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.headerlinks nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headercontact {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    gap: 16px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
    color: var(--text-color-white);
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#contact-linkheader {
    margin-top: 0px;
    color: var(--text-color-white);
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    background: var(--link-color);
    border-radius: 999px;
    max-width: 90px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgba(0, 67, 106, 0.6);
    color: var(--text-color-white);
    text-align: center;
    padding: 10px 20px;
    position: static;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 999px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 24px; 
    min-width: 95%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 9999999;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.social-media ul {
    color: var(--text-color-white);
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    gap: 16px;
    list-style-type: none;
}


.social-media-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.social-media-icon:hover {
    transform: scale(1.1);
}